.ChatRoomTemplate {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;

  .ChatRoomTop {
    height: 70px;
    background: #91b3cc;
    display: flex;
    align-items: center;
    padding: 0 10px;

    .left__photo {
      width: 40px;

      img {
        width: 100%;
        border-radius: 35%;
        cursor: pointer;
      }
    }

    .ChatRoomTop__right {
      margin-left: 10px;
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .right__username {
        font-size: 0.9em;
        font-weight: 600;
        color: #494949;
      }

      .right__icons {
        a {
          text-decoration: none;
          font-size: 0.9em;
          font-weight: 600;
          color: #494949;
          cursor: pointer;

          &:hover {
            color: #000000;
          }
        }
      }
    }
  }

  .ChatRoomMain {
    background: #9bbbd4;
    flex-grow: 1;
    padding: 5px 10px 10px 10px;
    overflow-y: scroll;

    .MyMessage {
      width: 100%;
      margin: 15px 0;
      display: flex;
      justify-content: end;

      .MyMessage__period {
        font-size: 0.7em;
        color: #494949;
        margin-right: 5px;
        align-self: flex-end;
      }

      .MyMessage__message {
        background: #ebd404;
        max-width: 200px;
        padding: 10px;
        border-radius: 3px;
      }
    }

    .ReceivedMessage {
      width: 100%;
      margin: 15px 0;
      display: flex;

      .ReceivedMessage__photo {
        width: 40px;
        margin-right: 10px;

        img {
          width: 100%;
          border-radius: 35%;
        }
      }

      .ReceivedMessage__info {
        .info__username {
          font-weight: 200;
          margin-bottom: 5px;
          color: #494949;
        }

        .info__message {
          display: flex;

          span:first-child {
            background: #ffffff;
            max-width: 200px;
            padding: 10px;
            border-radius: 3px;
          }

          span:last-child {
            font-size: 0.7em;
            color: #494949;
            margin-left: 5px;
            align-self: flex-end;
          }
        }
      }
    }
  }

  .InputMessage {
    height: 100px;

    .InputMessage__form {
      display: flex;
      height: 100%;

      .form__textarea {
        padding: 15px;
        flex-grow: 1;
        outline: none;
        resize: none;
        border: none;
      }

      .form_submit {
        .submit__btn {
          background: #f9e000;
          width: 50px;
          margin: 10px;
          padding: 10px 5px;
          border: none;
          border-radius: 3px;
          font-size: 0.8em;
          font-weight: 100;
          cursor: pointer;

          &:hover {
            background: #ebd404;
          }
        }
      }
    }
  }
}
