.home {
  display: flex;

  .sidebar {
    width: 150px;
    height: 100vh;
    padding: 30px 0;
    background: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
      color: gray;
      width: 50px;
      height: 50px;
      margin: 25px 0;
      cursor: pointer;

      &:hover,
      &.active {
        color: black;
      }
    }
  }

  .userlist,
  .chatroom-container {
    padding-left: 150px;
    flex: 1;

    .header {
      width: calc(100% - 150px);
      padding: 0 20px;
      background: white;
      position: fixed;
      top: 0;

      .header-contents {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .header-buttons {
          svg {
            width: 40px;
            height: 40px;
            cursor: pointer;
            border-radius: 50%;
            padding: 5px;

            &:hover {
              background: rgb(242, 241, 241);
            }
          }
        }
      }

      .header-search {
        width: 100%;
        margin-bottom: 20px;

        input {
          width: 100%;
          border: 5px solid skyblue;
          outline: none;
          padding: 5px;
          font-size: 16px;
        }
      }
    }

    .user,
    .myinfo {
      display: flex;
      align-items: center;
      padding: 10px 0;

      .profile-image {
        width: 80px;
        height: 80px;
        margin-right: 20px;

        img {
          width: 100%;
          border-radius: 40%;
        }
      }

      .profile-name {
        font-size: 18px;
        font-weight: 500;
      }
    }

    .myinfo {
      margin-top: 120px;
      border-bottom: 1px solid lightgrey;
      padding: 20px;
    }

    .users {
      margin-top: 30px;

      .users-title {
        font-size: 18px;
        font-weight: 500;
        padding: 0 20px;
        color: gray;
      }

      .user {
        margin: 20px 0;
        padding: 10px 20px;
        cursor: pointer;

        &:hover {
          background: rgb(242, 241, 241);
        }
      }
    }

    .chatrooms {
      margin-top: 100px;

      .chatroom {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding: 10px 20px;
        cursor: pointer;

        .chatroom-left {
          display: flex;

          .chatroom-image {
            width: 80px;
            height: 80px;
            margin-right: 10px;

            img {
              width: 100%;
              border-radius: 40%;
            }
          }

          .chatroom-desc {
            h3 {
              margin: 0;
            }

            p {
              margin-top: 10px;
              margin-bottom: 0;
            }
          }
        }

        .chatroom-right {
          .chatroom-info {
          }
        }

        &:hover {
          background: rgb(242, 241, 241);
        }
      }
    }
  }
}
