.Message {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-bottom: 1px solid #dfdfdf;
}

.Message__left {
  display: flex;
  align-items: center;
  flex: 1;
}

.Message__image {
  margin-right: 10px;
}

.Message__image > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Message__content {
  font-size: 18px;
}

.Message__right {
  display: flex;
  align-items: center;
}

.Message__right > span:first-child {
  margin-right: 10px;
}
