.RoomMember {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
}

.RoomMember__image > img {
  width: 50px;
  border-radius: 50%;
}

.RoomMember__username {
  flex: 1;
  text-align: center;
}
